{% extends 'base/base.html' %}
{% load static %}
{% block main-content %}
    <div class="row">
       <div class="col-6">
        <h3>Edit Your Profile Here</h3>
            <form method="post" action="{% url 'profile-edit' request.user.id %} " enctype="multipart/form-data">
                <div class="row gtr-uniform">
                    <div class="">
                        {% csrf_token %}
                        {{ form }}
                    </div>
                    <div class="col-12 col-12-xsmall">
					<button type="submit" class="button large">Edit</button>
                    <a href="{% url 'change password' %}" class="button">Change Password</a>
			        </div>
                </div>
            </form>
        </div>
    <div class="col-6">
            {% if profile.image_url %}
                <h4>URL Image</h4>
                <img src="{{ profile.image_url }}" alt="No Image Yet" width="300px" height="auto">
            {% else %}
                 <h4>No URL Image Yet</h4>
                <img src="{% static "images/avatar.png" %}" alt="No Image Yet" width="300px" height="auto">
            {% endif %}
            {% if profile.image_local %}
            <h4>Local Image</h4>
                <img src="{{ profile.image_local.url }}" alt="No Image Yet" width="300px" height="auto">
            {% else %}
                <h4>No Local Image Yet</h4>
                <img src="{% static "images/avatar.png" %}" alt="No Image Yet" width="300px" height="auto">
            {% endif %}
    </div>
</div>
{% endblock %}