{% extends 'base/base.html' %}
{% load static %}
{% block main-content %}

<link rel="stylesheet" href="{% static "/assets/css/profile-details.css" %}" />

<section>
    <div class="profile-card">
      <div class="top-section">
        <i class="message fas fa-envelope"></i>
        <i class="notif fas fa-bell"></i>
          {% if profile.image_local %}
        <div class="pic">
          <img src="{{ profile.image_local.url }}" alt="">
        </div>
          {% elif profile.image_url %}
        <div class="pic">
          <img src="{{ profile.image_url }}" alt="">
        </div>
          {% else %}
          <div class="pic">
          <img src="{% static "images/avatar.png" %}" alt="">
        </div>
          {% endif %}
        <div class="name">{{ profile }}</div>
        <div class="tag">{{ profile.user.email }}</div>
      </div>

      <div class="bottom-section">
        <div class="social-media">
            <a href="{% url 'profile-edit' request.user.id %}" class="button">Edit</a>
            <a href="{% url 'profile-delete' request.user.id %}" class="button">Delete</a>
        </div>

        <div class="videos">{{ comments_count }}<span>Comments</span></div>
        <div class="border"></div>
        <div class="subscribers">{{ likes_count }} <span>Likes</span></div>
{#        <div class="border"></div>#}
{#        <div class="views">500k <span>Views</span></div>#}
      </div>
    </div>
</section>
<!-- ALL COMMENTS -->
<article class="post">
    <div class="title">
        <h2> COMMENTS </h2>
    </div>

    {% for comment in comments %}
        {% if comment.active %}
    <div class="row">
        <div class="comment">
        <h4 class="comment-content">Username: {{ comment.user_id.profile }}</h4><h5 class="comment-content">date: {{ comment.created_on }}</h5>


            <a href="javascript:void(0)" class="icon solid fa-heart like-button">{{ comment.likes_count }}</a>

        <p>{{ comment.content }}</p>
        </div>
    </div>
        {% endif %}
   {% endfor %}

</article>
{% endblock %}