{% extends 'base/base.html' %}
{% load static %}
{% block main-content %}
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/gallery.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "assets/css/lightbox.min.css" %}">
    <script src="{% static "assets/js/lightbox-plus-jquery.min.js" %}"></script>

<section>
	<h3>Welcome to My Blog</h3>
	<h4>Learn more about me</h4>
    <div class="col-12"><span class="image fit"><img src="{{ cover_image }}" alt="" /></span></div>


	<h4>Who am I?</h4>
    {% if articles %}
    {% for article in articles %}
        {% if article.right %}
    <p><span class="image left"><img src="{{ article.image }}" alt="" /></span> {{ article.content }}</p>
        {% else %}
    <p><span class="image right"><img src="{{ article.image }}" alt="" /></span>{{ article.content }}</p>
        {% endif %}
    {% endfor %}
    {% endif %}
</section>


{% endblock %}