{% extends 'base/base.html' %}
{% load static %}
{% block main-content %}

    <link rel="stylesheet" type="text/css" href="{% static "assets/css/index.css" %}">
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section>

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="{% url 'blog' %}">
											<h3>Blog</h3>
											<p>Check out my Blog Posts</p>
										</a>
									</li>
                                    {% if user.profile %}
									<li>
										<a href="{% url 'profile-details' request.user.id %}">
											<h3>Profile</h3>
											<p>Edit Your Profile Details Here</p>
										</a>
									</li>
                                    {% else %}
									<li>
										<a href="{% url 'profile-create' %}">
											<h3>Profile</h3>
											<p>Create Your profile here</p>
										</a>
									</li>
                                    {% endif %}
									<li>
										<a href="#">
											<h3>About Me</h3>
											<p>Get to know me better</p>
										</a>
									</li>
									<li>
										<a href="{% url 'contacts' %}">
											<h3>Contacts</h3>
											<p>Get in touch</p>
										</a>
									</li>
								</ul>
							</section>

						<!-- Actions -->
							<section>
                                {% if not user.is_authenticated %}
								<ul class="actions stacked">
									<li><a href="{% url 'login' %}" class="button large fit">Log In</a></li>
								</ul>
                                {% else %}
 								<ul class="actions stacked">
									<li><a href="{% url 'logout' %}" class="button large fit">Log Out</a></li>
								</ul>
                                {% endif %}
							</section>

					</section>

				<!-- Main -->
					<div id="main">
                        {% for post in posts %}
						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="{% url 'single post' post.id %}">{{ post.title }}</a></h2>
										<p>{{ post.catchy_title }}</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">{{ post.created_on }}</time>
										<a href="#" class="author"><span class="name">{{ owner.full_name }}</span><img src="{{ owner.url_image }}" alt="" /></a>
									</div>
								</header>
								<a href="{% url 'single post' post.pk %}" class="image featured"><img src="{{ post.image_url }}" alt="" /></a>
								<p id="post-content">{{ post.content }}</p>
								<footer>
									<ul class="actions">
										<li><a href="{% url 'single post' post.pk %}" class="button large">Continue Reading</a></li>
									</ul>
									<ul class="stats">
{#										<li><a href="#">General</a></li>#}
										<li><a href="javascript:void(0)" class="icon solid fa-heart">{{ post.likes_count }}</a></li>
										<li><a href="javascript:void(0)" class="icon solid fa-comment">{{ post.comments_count }}</a></li>
									</ul>
								</footer>
							</article>
                        {% endfor %}

						<!-- Pagination -->
                    	<ul class="actions pagination">
                            <span class="step-links">
                                {% if page_obj.has_previous %}
                                    <a href="?page=1" class="button large next">&laquo; first </a>
                                    <a href="?page={{ page_obj.previous_page_number }}" class="button large previous">previous</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                </span>

                                {% if page_obj.has_next %}
                                    <a href="?page={{ page_obj.next_page_number }}" class="button large next">next</a>
                                    <a href="?page={{ page_obj.paginator.num_pages }}" class="button large next">last &raquo;</a>
                                {% endif %}
                            </span>
							</ul>
					</div>

				<!-- Sidebar -->
					<section id="sidebar">

						<!-- Intro -->
							<section id="intro">
								<a href="#" class="logo"><img src="{% static "images/logo.jpg" %}" alt="" /></a>
								<header>
									<h2>Habiba's Blog</h2>
									<p>Another fine responsive site template by <a href="http://html5up.net">HTML5 UP</a></p>
								</header>
							</section>

						<!-- Mini Posts -->
							<section>
                                {% for post in posts %}
								<div class="mini-posts">

									<!-- Mini Post -->
										<article class="mini-post">
											<header>
												<h3><a href="{% url 'single post' post.pk %}">{{ post.title }}</a></h3>
												<time class="published" datetime="2015-10-20">{{ post.created_on }}</time>
												<a href="{% url 'single post' post.pk %}" class="author"><img src="{{ owner.url_image }}" alt="" /></a>
											</header>
											<a href="{% url 'single post' post.pk %}" class="image"><img src="{{ post.image_url }}" alt="" /></a>
										</article>
								</div>
							</section>
                                {% endfor %}
						<!-- Posts List -->
{#							<section>#}
{#								<ul class="posts">#}
{#									<li>#}
{#										<article>#}
{#											<header>#}
{#												<h3><a href="single.html">Lorem ipsum fermentum ut nisl vitae</a></h3>#}
{#												<time class="published" datetime="2015-10-20">October 20, 2015</time>#}
{#											</header>#}
{#											<a href="single.html" class="image"><img src="images/pic08.jpg" alt="" /></a>#}
{#										</article>#}
{#									</li>#}
{#								</ul>#}
{#							</section>#}

						<!-- About -->
{#							<section class="blurb">#}
{#								<h2>About</h2>#}
{#								<p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>#}
{#								<ul class="actions">#}
{#									<li><a href="#" class="button">Learn More</a></li>#}
{#								</ul>#}
{#							</section>#}
{% endblock %}