
{% extends 'base/base.html' %}
{% load static %}
{% block main-content %}
        <link rel="stylesheet" href="{% static "assets/css/comment.css" %}">
				<!-- Menu -->
					<section id="menu">

						<!-- Search -->
							<section>
								<form class="search" method="get" action="#">
									<input type="text" name="query" placeholder="Search" />
								</form>
							</section>

						<!-- Links -->
							<section>
								<ul class="links">
									<li>
										<a href="#">
											<h3>Lorem ipsum</h3>
											<p>Feugiat tempus veroeros dolor</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Dolor sit amet</h3>
											<p>Sed vitae justo condimentum</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Feugiat veroeros</h3>
											<p>Phasellus sed ultricies mi congue</p>
										</a>
									</li>
									<li>
										<a href="#">
											<h3>Etiam sed consequat</h3>
											<p>Porta lectus amet ultricies</p>
										</a>
									</li>
								</ul>
							</section>

						<!-- Actions -->
							<section>
								<ul class="actions stacked">
									<li><a href="#" class="button large fit">Log In</a></li>
								</ul>
							</section>

					</section>

				<!-- Main -->
					<div id="main">

						<!-- Post -->
							<article class="post">
								<header>
									<div class="title">
										<h2><a href="#">{{ post.title }}</a></h2>
										<p>Lorem ipsum dolor amet nullam consequat etiam feugiat</p>
									</div>
									<div class="meta">
										<time class="published" datetime="2015-11-01">November 1, 2015</time>
										<a href="#" class="author"><span class="name">Jane Doe</span><img src="{% static "/images/avatar.jpg" %}" alt="" /></a>
									</div>
                                </header>


								<a href="{% url 'single blog' post.id %}" class="image featured"><img src="{{ post.image_url }}" alt="" /></a>
								<p>{{ post.content }} </p>

								<footer>
									<ul class="stats">
										<li><a href="#">General</a></li>
										<li><a href="#" class="icon solid fa-heart">28</a></li>
										<li><a href="#" class="icon solid fa-comment">128</a></li>
									</ul>
								</footer>
							</article>
                        <!-- ADD COMMENT -->
							<article class="post">
                                <div class="title">
                                    <h2> Add a Comment</h2>
                                </div>

                                <div class="row">
                                    <div class="col-6">
                                   <textarea type="text" class="input" placeholder="Write a comment" v-model="newItem" @keyup.enter="addItem()"></textarea>
                                   <button v-on:click="addItem()" class='primaryContained float-right' type="submit">Add Comment</button>
                                </div><!--End Row -->
                                </div>
                            </article>


                        <!-- ALL COMMENTS -->
                            <article class="post">
                                <div class="title">
                                    <h2> COMMENTS </h2>
                                </div>

                                {% for comment in comments %}
                                <div class="row">
                                    <div class="comment">
                                    <h4>{{ comment.user_id.profile }}</h4><h5>date: {{ comment.created_on }}</h5>
                                    <p class="comment-content">{{ comment.content }}</p>
                                    </div><a href="#" class="icon solid fa-heart">{{ comment.likes }}</a>
                                </div>
                               {% endfor %}

                            </article>
					</div>


{% endblock %}